* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #0c2d40;
  font-family: 'Fira Mono', monospace;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.rate {
  color: #949494;
  font-weight: bold;
}

.header {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}

.rate, .header {
  font-size: 3.5em;
}

.source a {
  color: #cbdeda;
  font-size: 1.35em;
}

a:hover {
  color: #8bc040;
  font-weight: bold;
  text-shadow: 0 0 1px #fff;
}

.footer {
  margin-top: 33px;
}

.code {
  padding-top: 70px;
  color: #fff;
  font-size: 1em;
}

a, .code-link {
  text-decoration: none;
  color: #fff;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  z-index: 1;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

#overlay {
  position: fixed;
  background-color: #0c2d40;
  width: 100%;
  height: 100%;
}
